html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;
  background-color: #424242;
  font-family: 'Open Sans', sans-serif;
  color: #333333
}

p {
  padding: 0;
  margin: 0;
}

/*global*/

.container {
  padding: 60px;
}

/*checkbox*/

.checkbox__container {
  width: 176px;
  height: 309px;
  padding: 30px;
  padding-top: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.checkbox__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

input {
  display: none;
}

.checkbox__container label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  line-height: 19px;
}

.checkbox__container label:not(:last-child) {
  margin-bottom: 20px;
}

input+span {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid #999999;
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}

input+span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

input:checked+span::before {
  opacity: 1;
  background-image: url(../img/галочка.svg);
  background-repeat: no-repeat;
  background-position: center;

}

input:checked+span {
  border-color: #CCB26E;
}

/*select*/


.choices {
  width: 176px;
  font-size: 14px;
  line-height: 18px;
}

.choices.is-open {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid #CCB26E;
}

.choices[data-type*=select-one]:after {
  z-index: 3;
  top: 40%;
  height: 8px;
  width: 8px;
  border: 1px solid #CCB26E;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);

}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid #CCB26E;
  border-width: 1px 1px 0 0;
}

.choices__inner {
  position: relative;
  padding: 10px;
  padding-left: 15px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 10px;
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__inner {
  border-radius: 10px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown {
  padding-top: 20px;
}

.choices__list--dropdown.is-active {
  border: 1px solid #CCB26E;
  border-top-width: 0;
  border-radius: 0 0 10px 10px;
}

@media (min-width: 640px) {

  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding: 0;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}

/*yandex*/

[class*="ground-pane"] {
  filter: grayscale(1);
}


/*scrollbar*/

.simplebar-content-wrapper {
  overflow: auto;
}

.scrollbar__container {
  width: 400px;
  height: 310px;
  padding: 20px 30px;
  padding-bottom: 0;
  background-color: #FFFFFF;
}

.scrollbar__descr {
  font-size: 14px;
  line-height: 24px;
}


.simplebar-scrollbar::before {
  background-color: #CCB26E;
  border-radius: 5px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  border-radius: 5px;
}

/*validation*/

.validation__form {
  min-width: 440px;
  min-height: 410px;
  background-color: #000000;
  border-radius: 10px;
  padding: 40px 30PX;
}

.validation__label {
  display: flex;
  flex-direction: column-reverse;
}

.validation__input {
  padding: 24px 20px;
  display: block;
  width: 380px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid #FF5C00;
  border-radius: 10px;
  margin-bottom: 31px;
  outline: none;
}

.validation__button {
  padding: 19px 53px;
  background-color: #FF5C00;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}

::placeholder {
  color: #999999;
}

.js-validate-error-label {
  padding-left: 20px;
  padding-bottom: 4px;
}

.validation__input.js-validate-error-field {
  color: #999999 !important;
}

/*tooltip*/

.tooltip__container {
  display: flex;
  align-items: flex-end;
  max-width: 375px;
  min-height: 160px;
  background-color: #FFFFFF;
  padding: 20px 30px;
  padding-right: 78px;
  line-height: 24px;
  font-size: 14px;
  color: #333333;
}

.tooltip__wrapp {
  position: relative;
}

.tooltip_svg {
  position: relative;
  cursor: pointer;
  padding-top: 5px;
  transform: translateY(1px);
}

.tooltip_svg path {
  fill: #BCBCBC;
}

.tooltip_svg path:hover {
  fill: #CCB26E;
}

.tooltip__popup {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tooltip_svg:hover+.tooltip__popup {
  opacity: 1;
}

.popup-1 {
  position: absolute;
  top: -43px;
  transform: translateX(90%);
  display: block;
  padding: 7px 15px;
  max-width: 163px;
  min-height: 31px;
  background-color: #424242;
  color: #FFFFFF;

  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.popup-2 {
  position: absolute;
  top: -20px;
  left: 1px;
  height: 14px;
  width: 14px;
  background-color: #424242;
  border: 1px solid #424242;
  border-width: 1px 1px 1px 1px;
  transform: rotate(135deg);
}
